/* Override streamlit's default CSS styles */

.stMarkdown div table {
  margin-left: auto !important;
  margin-right: auto !important;
  min-height: 60px;
  font-size: medium;
}

div[data-testid="stMarkdownContainer"]:has(table) {
  height: 320px;
  overflow-y: scroll;
}

table thead, tbody tr > td:first-child {
  background-color: rgba(0, 66, 128, 0.20);
}

.stMarkdown h1 {
  padding-top: 0;
}

.stTextInput > label {
  display: none;
}

.stSlider > label {
  display: none;
}

.stSpinner {
  padding-top: 50vh !important;
}

.streamlit-expanderHeader {
  font-size: large;
}

.pynteny-expander-info {
  background-color: blueviolet !important;
}

.stButton button {
    font-size: large;
}

.element-container iframe[title~="st.iframe"] {
  display: none;
}

div[data-testid="caption"] {
  font-size: medium;
}

footer {
  padding-top: 0px !important;
}

footer > a {
  text-decoration: none;
}

/* Remove developer tools from menu */
/* div[data-testid~="main-menu-popover"] > div:nth-child(2) {
  display: none !important;
} */

#bui-1 div .css-1uh038d {
  display: none;
}

div[data-testid="stTickBar"] {
  display: none;
}