**/__pycache__/
projects/
*.pickle

dev.ipynb
NOTES.md
build.sh
MANIFEST.in
setup.py 
pyproject.toml
.coverage
coverage.xml

.vscode/
old_configs/
bioconda/
build/
dist/
*.egg-info
hmm_data/
ms/
wiki/*
examples/data/*
examples/example_cli/*
examples/example_api/*
pyopensci_reviews/*
test_issue_91/*