**/__pycache__/
projects/
*.pickle

dev.ipynb
NOTES.md
test_script.py
test_script.sh
meta.yaml
build.sh
meta_hard.yaml

.vscode/
conda/
build/
dist/
*.egg-info
hmm_data/
ms/
wiki/*
examples/data/*
examples/example_cli/*
examples/example_api/*