**/__pycache__/
projects/
*.pickle

dev.ipynb
NOTES.md
meta.yaml
build.sh
MANIFEST.in
setup.py 
pyproject.toml

.vscode/
old_configs/
bioconda/
build/
dist/
*.egg-info
hmm_data/
ms/
wiki/*
examples/data/*
examples/example_cli/*
examples/example_api/*