# Development dependencies for Pynteny.
# Install on top of an editable install of the package:
#   pip install -e .
#   pip install -r requirements-dev.txt
#
# Runtime dependencies (pyhmmer, pyrodigal, pyfastx, ...) are declared in
# pyproject.toml and installed by `pip install -e .`.

# Linting / formatting / tests
ruff
black
coverage

# Documentation
mkdocs
mkdocs-gen-files
pymdown-extensions
mkdocs-jupyter
mkdocstrings[python]
argmark
